@charset "UTF-8";
header{
	margin: 0;
	padinig: 0;
}
body{
    background-color: #666;
    padding-top:160px;

    
}
html{
    background-color: #666;
	
}


#header {
    margin:auto;
    background-color: #555;
    position:fixed;
    top:0px;
	height: 0px;
    z-index: 9999;
    display: block;
	left: 50%;
}

aside{
      top: 180px;
 	  width: 400px;
 }
 
#sidebar {
	float: right;
  	width: 400px;
}
.header {
   
    background-color: #444;
	margin:auto;
 	position:fixed;
	display: block;
	top:0px;
	width:100%;

	left: 0px;
}
#para1 {
    background-color: green; 
    width:20%; 
    border-bottom-width:1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    position:fixed;
    top:0px;
	height: 0px;
    z-index: 9998;
    height:190px;
}
#fett {
    background-color: #555; 
    width:200%; 
    border-bottom-width:1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    position:fixed;
    top:0px;
	height: 0px;
    z-index: 9997;
    height:190px;
	margin-left: -30px;
	
}
table{
	 color: black;
	 
}

Input{
	color: Black;
    background-color: white;
	
	
	}
hr{
	background-color: black; 
	color: black;
	}
a {
	text-decoration: none;
}


a:link, a:visited {
	color: #93C763; /*#008066;*/
}

table.gridtableForMove {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333;
	border-collapse: collapse;
	border-radius: 3px;
	border:0;
	margin:0;
}

table.gridtableForMove th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #555;
	background-color: #AAA;
	border-radius: 3px;
	border:0;
	margin:0;
}
table.gridtableForMove td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #555;
	background-color: #CCC;

	border:0;
	margin:0;
}


table.gridtableForMoveTitle {
	font-family: verdana,arial,sans-serif;
	border-collapse: collapse;
	font-size:11px;
	color:#333;
	border-radius: 3px;
	border:0;
	margin:0;
}
table.gridtableForMoveTitle th {
	border-width: 1px;
	padding: 8px;
	background-color: #444;
	border-radius: 3px;
	border:0;
	margin:0;
}
table.gridtableForMoveTitle td {
	border-width: 1px;
	padding: 8px;
	background-color: #444;
	border:0;
	margin:0;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333;
	border-width: 0px;
	border-color: #555;
	border-collapse: collapse;
	word-break:break-all;
	border-radius: 3px;
	border:0;
	margin:0;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #555;
	background-color: #AAA;
	border-radius: 3px;
	border:0;
	margin:0;
}
table.gridtable td {
	border-width: 0px;
	padding: 8px;
	border-style: solid;
	border-color: #555;
	background-color: #CCC;

}


table.gridtableTitle {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333;
	border-width: 1px;
	border-color: #555;
	border-collapse: collapse;
 	border-radius: 3px;
	border:0;
	margin:0;
}
table.gridtableTitle th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #555;
	background-color: #444;
	border-radius: 3px;
	border:0;
	margin:0;
}
table.gridtableTitle td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #555;
	background-color: #444;
	border-radius: 3px;
	border:0;
	margin:0;
	
	
}

#FindOnWiki{
	background-color: #999; 
    width:70%; 
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    position: absolute;
    top:0px;
	height: 0px;
    z-index: 100;
    height:300px;
	margin-left: -30px;
	border-radius: 3px;

	
}

#FindOnWiki_Text{
	margin-left: -10px;
	margin-top: -20px;
    z-index: 9999;
	background-color: #999;
	width: 60%;
	border-radius: 3px;
	border:0;
	margin:0;
	/*
	border-bottom-width: 3px;
    border-bottom-color: #555555;
    border-bottom-style: solid;
	*/ 
}

#BoxForText{	
	
    z-index: 9999;
	background-color: #999;
	width: 60%;  
    margin-top: -20px;
	padding: 10px 1px;
	border-radius: 3px;

}

.Footer_Index{
    background-color: #999;
	position:absolute;
   	bottom:0;
   	width:100%;
   	height:30px; 
	width:100%;
	left: 0px;
    border-top-width: 3px;
    border-top-color: #555555;
    border-top-style: solid;
}

.Footer{
    background-color: #999;
    border-top-width: 3px;
    border-top-color: #555555;
    border-top-style: solid;
	
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -155px;
	left: 0px;
}

p{
	margin-left: 10px;
	display:inline;
}

.boxed {
  padding: 2px 16px;
  display: inline-block;
  text-decoration:none;
  border-radius: 3px;
  background-color: #ECECEC;
  border:0;
  margin:0;
}

.boxed_disable {
  border: 1px solid #555 ;
  background-color: #CCC;
  border-radius: 3px;
  border:0;
  margin:0;
}

.NSFW {
  color: #B88DC9;
}
.PIC {
  color: #DBBC50;
}
.NORMAL {
  color: #93C763;
}

input[type=text],input[type=URL],input[type=Email], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
 
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus,input[type=URL]:focus,input[type=Email]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(200, 0, 200, 1);
 
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(200, 0, 200, 1);
}

h1{
 color: #EEE;
}

h2{
 color: #EEE;
}
a:hover, a:active {
	color: #93C763;
}
